tr.display-0 {
    text-shadow : #ffcc00 1px 0 10px, black 1px 1px 0 ;
}
tr.display-13 {
    text-shadow : #b4c8e6 1px 0 10px, black 1px 1px 0 ;
}
tr.display-14 {
    text-shadow : #aadc8c 1px 0 10px, black 1px 1px 0 ;
}

