.display-2 td {
    background-image: url("../assets/hukidashi_02.png");
}
.display-6 td {
    background-image: url("../assets/hukidashi_06.png");
}

.display-7 td {
    background-image: url("../assets/hukidashi_07.png");
}